PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
* * * * * root docker-vtiger-cron.sh ts
* * * * * root docker-vtiger-cron.sh vtiger
* * * * * root docker-vtiger-cron.sh localhost-proxy
